'set linend off'
'set coloring off'
'set compat xedit xedit xedit'
'set number on'
'set cmdline top'
'set scale on 1'
'set curline 2'
'set msgline on 3 5 overlay'
'set case mixed ignore ignore respect mixed mixed'
'set reprofile on'
'set stay on'
'set tabs incr 8'
'set color scale normal grey'
'set color curline bright green'
'set color filearea bright green'
'set color tofeof bright cyan'
'set color ctofeof bright cyan'
'set color cmdline normal yellow'
'set color idline normal cyan'
'set color statarea normal brown'
'set color pending normal white'
'def enter enter'
'def C-M enter'
'def END sos startendchar'
'def curu cursor escreen up'
'def curd cursor escreen down'
'def curl cursor escreen left'
'def curr cursor escreen right'
'def F1 help'
'def F2 spltjoin'
'def F3 rexx if dir() then "dir"; else "quit"'
'def F4 rexx if dir() then "quit"; else "file"'
'def F5 repeat'
'def F6 ?'
'def F7 backward'
'def F8 forward'
'def F9 rexx if dir() & incommand()=0 then "sos edit"; else "nextwindow"'
'def F10 left half'
'def F11 right half'
'def F12 ?'
'def PF1 help'
'def PF2 spltjoin'
'def PF3 rexx if dir() then "dir"; else "quit"'
'def PF4 rexx if dir() then "quit"; else "file"'
'set linend on #'
